$primary-color: #000000;
$primary-font: Arial, Helvetica, sans-serif;
$blue: #0C8CE9;

$airy-blue-100: #E9F0F6;
$airy-blue-200: #D3E1EE;
$airy-blue-300: #BDD3E5;
$airy-blue-400: #A7C4DD;
$airy-blue-500: #92B6D5;
$airy-blue-600: #7491AA;
$airy-blue-700: #576D7F;
$airy-blue-800: #3A4855;
$airy-blue-900: #1D242A;

$aurora-red-100: #F1D7D6;
$aurora-red-200: #E3B0AD;
$aurora-red-300: #D58884;
$aurora-red-400: #C7615B;
$aurora-red-500: #B93A32;
$aurora-red-600: #942E28;
$aurora-red-700: #6F221E;
$aurora-red-800: #4A1714;
$aurora-red-900: #250B0A;

$bodacious-100: #F7F0F5;
$bodacious-200: #ECD9E8;
$bodacious-300: #E1C3DA;
$bodacious-400: #CB96BE;
$bodacious-500: #B66AA3;
$bodacious-600: #A05D8F;
$bodacious-700: #884F7A;
$bodacious-800: #6D3F61;
$bodacious-900: #482A41;

$dusty-cedar-100: #F3E3E3;
$dusty-cedar-200: #E6C7C7;
$dusty-cedar-300: #D9ABAB;
$dusty-cedar-400: #CC8F8F;
$dusty-cedar-500: #AD5D5D;
$dusty-cedar-600: #8F4C4C;
$dusty-cedar-700: #713B3B;
$dusty-cedar-800: #532A2A;
$dusty-cedar-900: #351919;

$lush-meadows-100: #B3E1D4;
$lush-meadows-200: #80CDBF;
$lush-meadows-300: #4DB8A7;
$lush-meadows-400: #1AA28B;
$lush-meadows-500: #006E51;
$lush-meadows-600: #005D44;
$lush-meadows-700: #004C38;
$lush-meadows-800: #003B2C;
$lush-meadows-900: #002A20;

$potters-clay-100: #EBDAD3;
$potters-clay-200: #D7B5A7;
$potters-clay-300: #C4907B;
$potters-clay-400: #B06B4F;
$potters-clay-500: #9D4624;
$potters-clay-600: #7D381C;
$potters-clay-700: #5E2A15;
$potters-clay-800: #3E1C0E;
$potters-clay-900: #1F0D07;

$riverside-100: #C9D2DE;
$riverside-200: #A5B4C8;
$riverside-300: #8196B2;
$riverside-400: #5D789C;
$riverside-500: #4C6A92;
$riverside-600: #445F83;
$riverside-700: #384F6D;
$riverside-800: #293A50;
$riverside-900: #1A2533;

$sharkskin-100: #E6E6E7;
$sharkskin-200: #CDCECF;
$sharkskin-300: #B5B5B7;
$sharkskin-400: #9C9D9F;
$sharkskin-500: #838487;
$sharkskin-600: #696A6C;
$sharkskin-700: #4F4F51;
$sharkskin-800: #343536;
$sharkskin-900: #1A1A1B;

$spicy-mustard-100: #F5E7C2;
$spicy-mustard-200: #ECD7A5;
$spicy-mustard-300: #E4C782;
$spicy-mustard-400: #DEB963;
$spicy-mustard-500: #D8AD47;
$spicy-mustard-600: #C99C3F;
$spicy-mustard-700: #B88D27;
$spicy-mustard-800: #A17B22;
$spicy-mustard-900: #8A691D;

$warm-taupe-100: #F6F4F2;
$warm-taupe-200: #EAE3DF;
$warm-taupe-300: #D6C9C0;
$warm-taupe-400: #C2AEA1;
$warm-taupe-500: #AE9382;
$warm-taupe-600: #8B7568;
$warm-taupe-700: #68584D;
$warm-taupe-800: #453A34;
$warm-taupe-900: #221D19;

$riverside: #4C6A92;
$airy-blue: #92B6D5;
$sharkskin: #838487;
$aurora-red: #B93A32;
$warm-taupe: #AE9382;
$dusty-cedar: #AD5D5D;
$lush-meadows: #006E51;
$spicy-mustard: #D8AD47;
$potters-clay: #9D4624;
$bodacious: #B66AA3;
