/* Tailwind directives — must stay at the top */
@tailwind base;
@import "tailwindcss/preflight";
@tailwind components;
@tailwind utilities;



@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@theme { --font-sans: 'Instrument Sans', ui-sans-serif, system-ui,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@tailwind base;
@tailwind components;
@tailwind utilities; $primary-color: #1d4ed8; $primary-font: 'Instrument Sans',
    ui-sans-serif, system-ui, sans-serif; body { font-family: $primary-font; color: $primary-color;
    }
.button {
    @apply px-4 py-2 bg-blue-500 text-white rounded;
}

/* Your custom SCSS */
$primary-color: #1d4ed8;
$primary-font: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
$blue: #0C8CE9;
$riverside: #4C6A92;
$airy-blue: #92B6D5;
$sharkskin: #838487;
$aurora-red: #B93A32;
$warm-taupe: #AE9382;
$dusty-cedar: #AD5D5D;
$lush-meadows: #006E51;
$spicy-mustard: #D8AD47;
$potters-clay: #9D4624;
$bodacious: #B66AA3;

body {
    font-family: $primary-font;
    color: $primary-color;
}

.bg-blue {
    background-color: $blue;
}
.bg-riverside {
    background-color: $riverside;
}
.bg-airy-blue {
    background-color: $airy-blue;
}
.bg-sharkskin {
    background-color: $sharkskin;
}
.bg-aurora-red {
    background-color: $aurora-red;
}
.bg-warm-taupe {
    background-color: $warm-taupe;
}
.bg-dusty-cedar {
    background-color: $dusty-cedar;
}
.bg-lush-meadows {
    background-color: $lush-meadows;
}
.bg-spicy-mustard {
    background-color: $spicy-mustard;
}
.bg-potters-clay {
    background-color: $potters-clay;
}
.bg-bodacious {
    background-color: $bodacious;
}

.color-blue {
    color: $blue;
}
.color-riverside {
    color: $riverside;
}
.color-airy-blue {
    color: $airy-blue;
}
.color-sharkskin {
    color: $sharkskin;
}
.color-aurora-red {
    color: $aurora-red;
}
.color-warm-taupe {
    color: $warm-taupe;
}
.color-dusty-cedar {
    color: $dusty-cedar;
}
.color-lush-meadows {
    color: $lush-meadows;
}
.color-spicy-mustard {
    color: $spicy-mustard;
}
.color-potters-clay {
    color: $potters-clay;
}
.color-bodacious {
    color: $bodacious;
}

.button {
    @apply px-4 py-2 bg-blue-500 text-white rounded;
}
h1, .h1 {
    font-size: 32px !important;
    line-height: 40px;
    font-weight: bold;
}
h2, .h2 {
    font-size: 28px !important;
    line-height: 36px;
    font-weight: bold;
}
h3, .h3 {
    font-size: 24px !important;
    line-height: 32px;
    font-weight: bold;
}
h4, .h4 {
    font-size: 20px !important;
    line-height: 28px;
    font-weight: bold;
}
h5, .h5 {
    font-size: 16px !important;
    line-height: 24px;
}
h6, .h6 {
    font-size: 12px !important;
    line-height: 20px;
}
