/* import all the variables */
@use 'variables' as *;

/* Tailwind directives — must stay at the top */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

/* Your custom SCSS */

main {
    display: flex;

    .side-nav {
        width: 256px;
        min-height: calc(100vh - 72px);
        padding-top: 48px;
        background-color: $riverside-400;

        div {
            display: flex;
            justify-content: center;
            height: 56px;
            width: 100%;
            padding: 8px 12px;

            p {
                font-size: 32px;
                line-height: 40px;
            }
        }
    }

    .beheer-container {
        padding-top: 48px;
        flex: 1;
    }
}
